type: "MARKDOWN_NOTE"
folder: "c36251bf86e47d90aab7"
title: "3"
content: '''
  # 3
  
  ### 14. Delete DOM element
  ```js
  let elem = document.getElementById('someId');
  elem.parentNode.removeChild(elem);
  ```
  
  ### 15. Join Typed Arrays [Source](https://stackoverflow.com/a/14071518/)
  ```js
  let a = new Int8Array( [ 1, 2, 3 ] );
  let b = new Int8Array( [ 4, 5, 6 ] );
  
  let c = new Int8Array(a.length + b.length);
  c.set(a);
  c.set(b, a.length);
  ```
  
  ### 16. Guide To JS Medium Post [Source](https://medium.freecodecamp.org/the-definitive-javascript-handbook-for-a-developer-interview-44ffc6aeb54e)
  
  ### 17. Listen to [DOM Changes](https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver)
  ```js
   let mutationObserver = new MutationObserver((mutationsList) => {console.log(mutationsList); });
  mutationObserver.observe( this.parentDiv, { subtree: true });
  ```
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-05T14:00:18.727Z"
updatedAt: "2018-02-09T11:36:53.718Z"
