type: "SNIPPET_NOTE"
folder: "7ec45d6046e6c6a7f34c"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-09-25T11:20:43.325Z"
updatedAt: "2017-09-25T11:21:16.512Z"
