type: "MARKDOWN_NOTE"
folder: "c10b93f0ff0d0f12de32"
title: "Async/Await"
content: '''
  # Async/Await
  
  1. https://www.joshmorony.com/using-asyncawait-syntax-for-promises-in-ionic/
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-09T22:14:22.043Z"
updatedAt: "2017-11-09T22:14:31.665Z"
