type: "MARKDOWN_NOTE"
folder: "7cad48378d9c64b7e9e1"
title: "Android"
content: '''
  # Android
  
  1. Android Application Development Tutorial for Beginners - #1 | 2017 - https://www.youtube.com/watch?v=DJkVg6kE_ok 
  2. Record video in chunks of x time - https://stackoverflow.com/questions/21264592/android-split-video-during-capture
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-10T13:33:02.143Z"
updatedAt: "2017-10-10T13:35:56.687Z"
