createdAt: "2018-05-12T09:17:35.644Z"
updatedAt: "2018-05-12T09:17:44.105Z"
type: "MARKDOWN_NOTE"
folder: "1e87a18a1a9999296fe3"
title: "Angu"
content: "#  Angu"
tags: []
isStarred: false
isTrashed: true
