type: "MARKDOWN_NOTE"
folder: "bed98e7a296bfe99afc5"
title: "1. Git"
content: '''
  # 1. Git
  
  1. Store Credentials (at least in Linux is needed)
  ```bash
  git config credential.helper store
  git push http://example.com/repo.git
  ```
  Quando se executa o git push a 1ª vez depois do git config ele pede a password, depois disso não pede mais.
  
  ### Branches
  *  Check local branches
  ```bash
  git branch
  ```
  * Create new branch
  ```bash
  git branch <branchName>
  ```
  * Checkout branch
  ```bash
  git checkout <branchName>
  ```
  
  ### Commits
  * List commits
  ```bash
  git log  OR git reflog
  ```
  * [Delete local commit](https://stackoverflow.com/a/5097495/)
  ```bash
  git reset --hard origin/<branchName>
  ```
  
  ### Merge
  * Merge some branch into master
  ```bash
  got checkout master
  git merge <branchName> master
  ```
  
  ###   Reset local changes
  `git reset --hard HEAD` [SEE](https://stackoverflow.com/a/22621464)
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-29T10:48:44.811Z"
updatedAt: "2017-10-29T16:24:39.886Z"
