type: "MARKDOWN_NOTE"
folder: "512d3ae63a23e1fa2bef"
title: "Docker"
content: '''
  # Docker
  
  Docker creates containers that will work the same everywhere. The version of "python", the version of the OS, etc will be the same everywhere we run the docker image.
  
  Introducion to Docker in [YT](https://www.youtube.com/watch?time_continue=45&v=Q5POuMHxW-0) + [RedHat](https://opensource.com/resources/what-docker)
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-11-12T11:57:39.050Z"
updatedAt: "2017-11-12T12:22:23.500Z"
