type: "MARKDOWN_NOTE"
folder: "1e87a18a1a9999296fe3"
title: "Wordpress Music Themes"
content: '''
  # Wordpress Music Themes
  
  1. [CSSIgniter - Premium WordPress Themes](https://www.cssigniter.com/demo2/?theme=berliner)
  2. [CSSIgniter - Premium WordPress Themes](https://www.cssigniter.com/demo2/?theme=sessions)
  3. [20 of the Best WordPress Themes for Musicians 2018 - Colorlib](https://colorlib.com/wp/wordpress-themes-for-musicians/)
  4. [Musician Website Templates from ThemeForest](https://themeforest.net/category/all?term=musician)
  5. [Imagem Clarinete](https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_1920,f_auto/DCTM_Penguin_UK_DK_AL762665_rt2_rasemy.jpg)
  6. [LunaPic | Free Online Photo Editor](http://lunapic.com/editor/?action=load) + [image - How to convert the background to transparent? - Stack Overflow](https://stackoverflow.com/a/12989353/5869289)
'''
tags: []
isStarred: true
isTrashed: false
createdAt: "2018-04-28T15:58:16.430Z"
updatedAt: "2018-04-28T16:51:58.089Z"
