type: "MARKDOWN_NOTE"
folder: "7846290e7b9b8530b1ea"
title: "CSS Info"
content: '''
  # CSS Info
  
  1. Center text center relative to parent
  ```css
  # parent{
  position: relative;
  }
  
  #children{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
  }
  ```
  
  2. Positioning children element at the bottom right corner  of parent element
  ```css
  #parent{
      position: relative;
  }
  
  #children{
      position: absolute;
      right: 0px;
      bottom: 0px;
  }
  ```
  
  3. Hide element (aka Minimize)
  ```css
  #element{
      display: none;
  }
  ``` 
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-29T18:48:09.058Z"
updatedAt: "2017-11-02T14:43:40.017Z"
